<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiUrl</key>
	<string>dev-api.com</string>
	<key>config</key>
	<string>Development</string>
	<key>flags</key>
	<dict>
		<key>isDevelopment</key>
		<true/>
        <key>shouldCacheAllNetworkData</key>
        <false/>
        <key>shouldCacheOnlyImages</key>
        <true/>
	</dict>
</dict>
</plist>
