//
//  Staging.xcconfig
//  ios-starter
//
//  Created by Aleksey Bidnyk on 2.04.2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

XCC_BUNDLE_ID = com.abidnyk.ios-starter.staging
XCC_BUNDLE_NAME = iOS-Starter-staging
XCC_CONFIG_PATH = Staging/Config.plist
FIREBASE_CONFIG_PATH = Staging/GoogleService-Info.plist
