<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiUrl</key>
	<string>api.com</string>
	<key>config</key>
	<string>Production</string>
	<key>flags</key>
	<dict>
		<key>startFromMainScreen</key>
		<true/>
		<key>isDevelopment</key>
		<false/>
		<key>shouldCacheAllNetworkData</key>
		<true/>
		<key>shouldCacheOnlyImages</key>
		<true/>
	</dict>
</dict>
</plist>
